<h1 ng-controller="ctrl">{{title}}</h1>
<p>Welcome to {{title}}</p>
<div style="position:fixed;bottom:100px;width:100%;text-align:center;">developed by <a href="https://github.com/yalishizhude">yalishizhude</a></div>
<script src="/lib/angular/angular.min.js"></script>
<script src="/javascripts/index.js"></script>
